name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - v[0-9]+.*

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: taiki-e/create-gh-release-action@v1
        with:
          # (optional) Path to changelog.
          # changelog: CHANGELOG.md
          token: ${{ secrets.GITHUB_TOKEN }}

  # https://github.com/marketplace/actions/build-and-upload-rust-binary-to-github-releases
  upload-assets:
    needs: create-release
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-apple-darwin
            os: macos-latest
          - target: x86_64-pc-windows-msvc
            os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: rns-seed-predictor
          target: ${{ matrix.target }}
          asset: seed_searcher/main.py,seed_searcher/config.yaml,seed_searcher/ids.txt
          token: ${{ secrets.GITHUB_TOKEN }}
